<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            <link href="{{asset('css/style.css')}}" rel="stylesheet" />
            {#{{ encore_entry_link_tags('app') }}#}
        {% endblock %}

        {% block javascripts %}

        {% endblock %}
    </head>
    <body>
        <div class="sidebar">
            <div class="sidebar-content">
                <div class="coach">
                    <div class="coach-img"></div>
                    <div class="coach-info">
                        <h3>Inger van Spelden</h3>
                        <h5>Begeleider</h5>
                    </div>
                    <a href="#" class="coach-toggle">
                        <img src="{{asset('icons/toggle_wit-icon.svg')}}" class="" alt="arrow icon" />
                    </a>
                </div>
                <div class="search">
                    <input type="search" placeholder="Zoeken op naam" />
                </div>
                <div class="client">
                    <ul class="client-list">
                        {% for client in clients %}
                            <li class="client-frame">
                                <a href="#">
                                    <div class="client-img"></div>
                                    <div class="client-info">
                                        <h3 class="client-info-firstname">{{ client.name }}</h3>
                                        <h5 class="client-info-last">{{ client.surname }}</h5>
                                    </div>
                                    <div class="client-option">
                                        <img
                                                src="{{asset('icons/puntjes_wit-icon.svg')}}"
                                                class=""
                                                alt="puntjes-icon"
                                        />
                                    </div>
                                </a>
                            </li>
                        {% endfor %}
                        <li class="client-frame">
                            <a href="#">
                                <div class="client-img"></div>
                                <div class="client-info">
                                    <h3 class="client-info-firstname">Justin</h3>
                                    <h5 class="client-info-last">Montoya</h5>
                                </div>
                                <div class="client-option">
                                    <img
                                            src="{{asset('icons/puntjes_wit-icon.svg')}}"
                                            class=""
                                            alt="puntjes-icon"
                                    />
                                </div>
                            </a>
                        </li>
                    </ul>
                    <div class="create-client">
                        <a href="#">
                            <img src="{{ asset('icons/plus_blauw-icon.svg') }}" class="" alt="plus-icon" />
                        </a>
                    </div>
                </div>
            </div>
            <div class="nav-bottom">
                <div class="nav-bottom-logo">
                    <img src="{{ asset('images/robin-assistant_logo-wit.svg') }}" class="" alt="RobinAssist-logo" />
                </div>
                <div class="nav-bottom-slogan">
                    <h5>Organisatie BASIC+</h5>
                </div>
                <div class="nav-bottom-settings">
                    <img src="{{ asset('icons/tandwiel-icon.svg') }}" class="" alt="RobinAssist-logo" />
                </div>
            </div>
        </div>
        <div class="main-content">
            <div class="main-content-container">
            {% block main %}

            {% endblock %}
            </div>
        </div>

        {% block javascripts_bottom %}
            <script src="{{ asset('js/clientSearch.js') }}"></script>
        {% endblock %}
    </body>
</html>
