<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>{% block title %}RobinAssist - Dashboard{% endblock %}</title>

        {% block stylesheets %}
            <link href="{{asset('css/style.css')}}" rel="stylesheet" />
        {% endblock %}

        {% block javascripts %}

        {% endblock %}

        <style>
            .client-frame a {
                position: relative;
                overflow: hidden;
            }

            .client {
                height: calc(100% - 18rem);
            }

            .client-list {
                display: block;
                overflow: hidden;
                overflow-y: scroll;
                max-height: 100%;
            }

            .client-list::-webkit-scrollbar {
                width: 0;
            }

            .client-color {
                position: absolute;
                width: 10rem;
                left: -8rem;
                height: 100%;
            }
        </style>
    </head>
    <body>
        <div class="sidebar">
            <div class="sidebar-content">
                <div class="coach">
                    <div class="coach-img"></div>
                    <div class="coach-info">
                        <h3>Inger van Spelden</h3>
                        <h5>Begeleider</h5>
                    </div>
                    <a href="#" class="coach-toggle">
                        <img src="{{asset('icons/toggle_wit-icon.svg')}}" class="" alt="arrow icon" />
                    </a>
                </div>
                <div class="search">
                    <input type="search" placeholder="Zoeken op naam" />
                </div>
                <div class="client">
                    <ul class="client-list">
                        {% for client in clients %}
                            <li class="client-frame">
                                <a href="#">
                                    <div class="client-color" style=" background: {{ client.color }} "></div>
                                    <div class="client-img" style=" background: #4f7bfa; margin-left: -2px; overflow: hidden; ">
                                        <img src=" {{ client.imgPath}} ">
                                    </div>
                                    <div class="client-info">
                                        <h3 class="client-info-firstname">{{ client.name }}</h3>
                                        <h5 class="client-info-last">{{ client.surname }}</h5>
                                    </div>
                                    <div class="client-option">
                                        <img
                                                src="{{asset('icons/puntjes_wit-icon.svg')}}"
                                                class=""
                                                alt="puntjes-icon"
                                        />
                                    </div>
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                    <div class="create-client">
                        <a href="{{ path('app_new_client') }}">
                            <img src="{{ asset('icons/plus_blauw-icon.svg') }}" class="" alt="plus-icon" />
                        </a>
                    </div>
                </div>
            </div>
            <div class="nav-bottom">
                <div class="nav-bottom-logo">
                    <img src="{{ asset('images/robin-assistant_logo-wit.svg') }}" class="" alt="RobinAssist-logo" />
                </div>
                <div class="nav-bottom-slogan">
                    <h5>Organisatie BASIC+</h5>
                </div>
                <div class="nav-bottom-settings">
                    <img src="{{ asset('icons/tandwiel-icon.svg') }}" class="" alt="RobinAssist-logo" />
                </div>
            </div>
        </div>

        <div class="main-content">
            <div class="main-content-container">
            {% block main %}

            {% endblock %}
            </div>
        </div>

        {% block javascripts_bottom %}
            <script src="{{ asset('js/clientSearch.js') }}"></script>
        {% endblock %}
    </body>
</html>
